---
Title: oehen.arguard
NoContainer: true
NoTitle: true
---

@section Splash {
    <div id="hero" class="jumbotron jumbotron-fluid mb-0">
        <div class="container-xl">
            <div class="row">
                <div class=" offset-lg-2 col-12 col-lg-8">
                    <div class="display-4 text-white"><img src='@Context.GetLink("/assets/img/Icon.png")' alt="oehen.arguard" width="80" height="80"/>oehen.arguard</div>
                    <p class="lead text-white">
                        Argument and parameter validation extension library for .NET.
                    </p>
                </div>
            </div>
        </div>
    </div>
}
